<table border='0' cellspacing='0' cellpadding='0'>

    <tr valign='top'>
        <td>
            <div id='ldrital'>
                <h2>2016 MSSA Annapolis Chapter Spring Rockfish Tournament Benefitting the EVAN Foundation!</h2>
            </div>
            <img src='../Images/fish2015.jpg' height="360px">
            <div id='ldrdiv'>
                <div id='content_text'>


                    <p>
                        Our good friends at the Annapolis Chapter of the Maryland Saltwater Sportfishing Association are once again supporting the EVAN Foundation with their  6th Annual Spring Rockfish Tournament.

                        This terrific event runs from <b>April 16th through May 1st</b> in the Chesapeake Bay.</p>
                    <p>The entry fee is $100 and all proceeds will go to the EVAN Foundation.
                        Details can be found <a href="http://www.mssaannapolis.com/evan_tournament.php" target="_new">HERE</a>
                    </p>

                    <p>
                        For a modest donation of $100 you can make a big difference and win some great prizes. The deadline to enter is April 30th.

                        The awards ceremony and cookout celebration - catered by Adams Taphouse Grille - will  be held at Chesapeake Harbour Marina  at 5:00pm on Saturday, May 144th. Come by boat or car!

                        We want to thank the MSSA Annapolis Chapter, Chesapeake Harbour Marina, Adams Taphouse Grille, and all of the sponsors of this wonderful event.  We greatly appreciate their support!!

                    </p>

                  
                   
                </div>
            </div>
        </td>
    </tr>
</table>



 



