<h2>Third Annual Golf Tournament</h2>
    <table width='100%' border='0' cellpadding='0' cellspacing'0'>
        <tr>

            <td>
                <div style="padding-bottom:10px"id='ldrnamediv'>
                    <div style="font-size:x-large" id='ldrtext'>Whiskey Creek Golf Club</div>
                    <div style="font-size:larger" id='ldrtext'>Ijamsville, MD</div>
                    <div style="font-size:large" id='ldrital'>Thursday, October 1st, 2015</div>
                </div>
               
               <div id="content_text" style="padding-bottom:10px">
                   It may have been a bit wet on October 1st at Whiskey Creek Golf Club in Ijamsville, MD, but that didn’t dampen the spirit at the 3rd Annual EVAN Foundation Golf Tournament!  A full field of 125 participants took on the elements to raise funds for neuroblastoma research and the Treats and Treasurers Carts at Children’s National Medical Center. The tournament and silent auction raised over $50,000.00! Thank you to our sponsors and to all who took part!   We look forward to seeing you again next year!
               </div>
                <img src='../Images/tefgolf3.jpg' width="590px">
                <img src='../Images/tefgolf1.jpg' width="590px">
                <img src='../Images/tefgolf2.jpg' height="640px">
            </td>
        </tr>
    </table>

