<h2>Third Annual Golf Tournament</h2>
    <table width='100%' border='0' cellpadding='0' cellspacing'0'>
        <tr>

            <td>
                <div style="padding-bottom:10px"id='ldrnamediv'>
                    <div style="font-size:x-large" id='ldrtext'>Whiskey Creek Golf Club</div>
                    <div style="font-size:larger" id='ldrtext'>Ijamsville, MD</div>
                    <div style="font-size:large" id='ldrital'>Thursday, October 1st, 2015</div>
                </div>
                <div id='content_text'>
                    Please join us on Thursday, October 1st for our Third Annual EVAN Foundation Golf Tournament at

                    Whiskey Creek Golf Club in Ijamsville, MD.  The scramble format will begin at 11:00 a.m. with a shotgun

                    start.  There will be prizes for men’s and women’s closet to the pin, longest drives, low team score, and

                    a chance to win a new car with a hole-in-one!  Prize raffles and a silent auction with a variety of terrific

                    items will take place as well.

                    Registration for single players is $150 and $600 for foursomes. Registration includes; golf with cart,

                    range balls, gift bag, boxed lunch and dinner. We hope you can join us for a beautiful fall afternoon at

                    this Ernie Els designed course!   <a target="_new" href="http://events.constantcontact.com/register/event?llr=zv8xthmab&oeidk=a07eazswqhr2ea839a6">Please click here to register.</a>



                    <div style="padding-top:10px;font-size:larger;font-weight:bold">Sponsorship Opportunities Available!</div>

                    The Foundation is excited to offer several tournament sponsorship opportunities. Please see below.

                    Contact Wendy Lindberg at wendy@theevanfoundation.org or at (301) 980-0866 with any questions.

                    Thank you so much for your consideration!  All proceeds benefit the mission of The EVAN Foundation!

                    <div style="padding-top:10px;font-size:large;font-weight:bold">Presenting Sponsor, $10,000:</div>
                    <ul>
                        <li>
                            Four foursomes including; greens fees, carts, range balls, on-course beverages, lunch, dinner

                            and individual gift bags.
                        </li>

                        <li>
                            Recognition on The EVAN Foundation website, in the tournament program, and during the

                            event.
                        </li>

                        <li>
                            Signage at the tournament
                        </li>

                        <li>
                            EVAN Foundation Presenting Sponsor Award Presentation at Dinner with Speaking Opportunity
                        </li>

                        <li>
                            A complimentary round of golf for four at Whiskey Creek.
                        </li>
                    </ul>


                    <div style="font-size:large;font-weight:bold">Pro Sponsor, $5,000:</div>
                    <ul>
                        <li>
                            Three foursomes including; greens fees, carts, range balls, on-course beverages, lunch, dinner

                            and individual gift bags.
                        </li>

                        <li>
                            Recognition on The EVAN Foundation website, in the tournament program, and during the

                            event.
                        </li>

                        <li>Signage at the tournament.</li>
                    </ul>

                    <div style="font-size:large;font-weight:bold">Eagle Sponsor, $2,500:</div>
                    <ul>
                        <li>Two foursomes including; greens fees, carts, range balls, lunch, dinner and individual gift bags.</li>

                        <li>
                            Recognition on The EVAN Foundation website, in the tournament program, and during the

                            event.
                        </li>

                        <li>Signage at the tournament.</li>
                    </ul>

                    <div style="font-size:large;font-weight:bold">Birdie Sponsor, $1,500:</div>
                    <ul>
                        <li>One foursome including; greens fees, carts, range balls, lunch, dinner and individual gift bags.</li>

                        <li>
                            Recognition on The EVAN Foundation website, in the tournament program, and during the

                            event.
                        </li>

                        <li>Signage at the tournament.</li>
                    </ul>

                    <div style="font-size:large;font-weight:bold">Beverage Cart Sponsor, $1,000:</div>
                    <ul>
                        <li>
                            Recognition on The EVAN Foundation website, in the tournament program, and during the

                            event.
                        </li>

                        <li>Signage on the beverage cart for the day.</li>
                    </ul>

                    <div style="font-size:large;font-weight:bold">Hole Sponsor, $500:</div>
                    <ul>
                        <li>
                            Recognition on The EVAN Foundation website, in the tournament program, and during the

                            event.
                        </li>

                        <li>Company or Family name on the tee at one hole.</li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>

